@import "colors.css";

* {
  border: none;
  border-radius: 12px;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(19, 21, 23, 0.96);
  margin: 5px 6px 3px 6px;
  padding: 7px 18px;
  color: #dbdbdb;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #dbdbdb;
}

#workspaces {
  transition: all 1050ms ease-in-out;
}

#workspaces button {
  transition: all 200ms ease-in-out;
  background: @background;
  border: 1px solid @foreground;
  border-radius: 999px;
  padding: 0 0px;
  margin: 0 3px;
}

#workspaces button.active {
  min-width: 50px;
  background: @foreground;
  min-height: 6px;
  border-radius: 999px;
  border: 0px;
}
#workspaces button:not(.active) {
  opacity: 0.7;
}
#workspaces button.focused {
  min-width: 50px;
  background: @foreground;
  border-radius: 100px;
  border: 0px;
}

#workspaces button:hover {
  min-width: 50px;
  background: @foreground;
  border-radius: 100px;
  border: 0px;
}

#workspaces button.urgent {
  background: #ff0000;
  border: 1px solid #ff0000;
}
/* #workspaces button.empty {
  opacity: 0.25;
  font-size: 8px;
  } */

#custom-spotify {
  margin-left: 10px;
  /* font-size: 12px; */
}

#custom-spotify.hidden {
  margin: 0;
  padding: 0;
  min-width: 0;
}

#tray,
#battery,
#pulseaudio,
#network,
#custom-power {
  padding-right: 15px;
}
